body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#root {
  text-align: center;
}

button {
  background-color: #333;
  color: #fff;
  border: 2px solid #555;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover:enabled {
  background-color: #444;
  border-color: #888;
}

button:disabled {
  background-color: #555;
  color: #aaa;
  cursor: not-allowed;
  border-color: #666;
}
